.app {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.box-1 {
  flex: 0.15;
  background-color: var(--whatsapp-body-background-green);
}

.box-2 {
  flex: 0.85;
  background-color: var(--whatsapp-body-background-darkgrey);
}
