* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --whatsapp-body-background-green: #00a783;
  --whatsapp-body-background-grey: #f0f2f5;
  --whatsapp-body-background-darkgrey: #cfd5d8;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.MuiSvgIcon-root {
  color: #6e6f70;
}
